<h1 style="margin-top: 10px;">About Building Bridges to Well Being</h1>


<h4>What is Building Bridges to Well Being?</h4>

<p>Building Bridges to Well Being is a project run by St Mungo’s across Bath and North East Somerset. We utilise the Recovery Approach in our work with people with low to moderate mental health needs and their supporters. The service enables clients to have more independent and fulfilling lives by positive access to opportuni-ties, including supporting our clients to facilitate groups and activities themselves. We provide training, grants and support for anyone running or wanting to run groups for people affected by mental health issues.</p>

<h4>What is the Recovery Approach?</h4>

<p>People can and do recover from even the most severe personal traumas and distress. This is a fundamental belief in the support St Mungo’s provides to the thou-sands of people who depend on our services.

Rather than use a one-treatment –fits-all method, the Recovery Approach looks at the individual and focusses on helping them make their own recovery at their own pace, rather than them becoming dependent on a service like St Mungo’s. It recognises people’s strengths as well as their needs and looks not just to help them re-cover, but to maximise their opportunities in life, such as work, learning and meaningful activities.</p>

<h4>What does Building Bridges to Well Being have to do with New Hope?</h4>

<p>Building Bridges to Well Being has worked closely with clients to develop the New Hope group. We work closely with New Hope to support the group and encourage the group to run autonomously. We act as a link (or bridge) between this peer-led group and mental health organisations.</p>