<div class="section-title <%= 'section-title_' + id.to_s %>" onclick="toggleSection(<%= id.to_s %>)">
	<span class="section-heading">Influencing Present and Future Services</span>
	<span> (▲▼ Expand/Reduce)</span>
</div>


<div class="<%= 'section-details_' + id.to_s %>"onclick="toggleSection(<%= id.to_s %>)" hidden="true" >

	<div class="section-title">
		<span class="section-heading" >Influencing Present and Future Services</span>
		<span> (▲▼ Expand/Reduce)</span>
	</div>


	<p>New Hope aims to improve services and groups for those affected by mental health issues. To do this we have started to build relationships with statutory services, organisations and groups.</p>


	<ul>
		<li>
			Events – we put on events in collaboration with charities and organisations within B&NES. Including a Human Library event, World Mental Health Day 2012, Summer Carnival (to be held summer 2013) and a What Works conference (to be held October 2013)
		</li>
		<li>
			Statutory Services – We are represented at statutory services meetings including the Acute Care Forum
		</li>
		<li>
			Peer Research – We present peer research findings to statutory services and other groups and organisations
		</li>
		<li>
			Recovery College – We are working with statutory services and other organisations to develop a recovery college. This will be collaborative work between professionals, clients and carers to provide training that allows clients to become experts in their own self care, and for others to better understand mental health conditions and how best to support people.
		</li>
	</ul>

</div>

