<div class="section-title <%= 'section-title_' + id.to_s %>" onclick="toggleSection(<%= id.to_s %>)">
	<span class="section-heading">Why Become a New Hope member?</span>
	<span> (▲▼ Expand/Reduce)</span>
</div>


<div class="<%= 'section-details_' + id.to_s %>"onclick="toggleSection(<%= id.to_s %>)" hidden="true" >

	<div class="section-title">
		<span class="section-heading" >Why Become a New Hope member?</span><span> (▲▼ Expand/Reduce)</span>
	</div>

<ul >
	<li>Updates of what is going on in BANES</li>
	<li>Opportunities to get involved</li>
	<li>It's a service user run group - so you can help to shape it</li>
	<li>Social events</li>
	<li>Support from St Mungo's Building Bridges to Well Being</li>
</ul>

</div>

