<h1>About New Hope</h1>

</br>
<h2>What is New Hope?</h2>

<p>
New Hope is a forum group which meets monthly and is made up of people affected by mental health issues (inclusive of clients, carers and supporters) who are involved in improving local groups and services and reducing stigma surrounding mental health. The latest meeting minutes can be downloaded below.</p>

</br>
<h2>Our Mission:</h2>

<p>
To reduce stigma surrounding mental health issues and to be actively involved in improving local services used by those affected by mental health issues.</p>

</br>
<h2>Our Aim:</h2>

<p>
To use the skills and talents of the group to improve the experience of living with mental health issues in B&NES</p>


<%= render :partial => 'why_join', :locals => {:id => '1'} %>





