<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>

<label for="name"></label>Name: <input type="text" name="name" value="" id="">
<label for="phone"></label>Phone: <input type="text" name="phone" value="" id="">
<label for="email"></label>Email: <input type="text" name="email" value="" id="">

<label for="name">Message: </label><input type="text" name="name" value="" id="">


<%= link_to "Send email", "contact/send_mail" %>