<div class="message_page_content">

  <span class="contact_us_by_email_section">
    <h2 id="contact_us_by_email">Send us a message</h2>
  
    <%= render 'message' %>   
  </span>
  
  
  <span class="who_to_contact_section">
    <h2>Who do I contact?</h2>
    <div class="who_to_contact">
      
      <div class="contact_entry">
        <h4>New Hope</h4>
        <p><b>Who are we?: </b> We are new hope, a group of 
          volunteers making a positive difference in the community.</p>
        <p><b>Contact about:</b>
          <ul>
            <li>Questions about the website.</li>
            <li>Getting involved in the website.</li>
            <li>Add your group/event details to the website.</li>
          </ul>
        </p>
        <p><b>Contact:</b> newhope@nh.com</p>
        <p><b>PLEASE NOTE - EMAILS ARE CHECKED BY VOLUNTEERS WEEKLY.
          NON-URGENT ENQUIRIES ONLY</b></p>
      </div>

      <div class="contact_entry">
        <h4>Building Bridges to Well Being</h4>
        <p><b>Who are we?: </b> A project run by St Mungo's 
          which helped to set up new hope.</p>
        <p><b>Contact about:</b>
          <ul>
            <li>Starting a Peer Led Group</li>
            <li>Getting Involved.</li>
            <li>Urgent problems with the website.</li>
          </ul>
        </p>
        <p><b>Contact:</b></p>
        <p>rlillywhite@mungos.org etti.righton@mungos.org</p>
        <p>07889 070393 06278 900187</p>
        <p>Mulberry House, Weston Park, Bath, BA1 4AN</p>
      </div>
    
    </div >
  </span>
</div>

<script>
$(function(){
  $(".message_sender_content textarea").focus(function() {
  console.log('in func')
  var m = '- Type Message Here -'
  var t = $(this).text();
  if (m === t) {$(this).text('')};
});
})
    
</script>