<div class ='group-details'>
  <h3>Details</h3>

  
	<h5> Who to contact</h5>
	<p><%= @group.contact %></p>

	<h5>How to join</h5>
	<p><%= @group.joining %></p>


	<h5>How much does it cost?</h5>
	<p><%= @group.cost %></p>


	<h5>Is there disabled access</h5>
	<p><%= @group.access %></p>
	
</div>