<h1 class='page-title'>Peer Led Groups</h1>



<ul>
    <% @groups.sort_by! {|g| g.name } %>
    <% @groups.each do |group| %>
        
        <li class="group-entry">
            <%= link_to group.name , group, :class => 'group-name'%>
            <% if admin %>
                | <%= link_to 'Edit', edit_group_path(group), :class => 'btn btn-info' %>
                | <%= link_to 'Destroy',  group, method: :delete, data: { confirm: 'Are you sure?'}, :class => 'btn btn-danger' %>
            <% end %>
            
        </li>
    <% end %>

</ul>
<% if admin %>
<br />
<%= link_to 'New Group', new_group_path , :class => 'btn btn-success'%>
<% end %>