<h1 class='page-title'>Listing groups</h1>

<% if admin %>
<%= link_to 'New Group', new_group_path %>
<% end %>

<ul>
    <% @groups.sort_by! {|g| g.name } %>
    <% @groups.each do |group| %>
        
        <li>
            <%= link_to group.name , group %>
            <% if admin %>
            |
                
                <%= link_to 'Edit', edit_group_path(group) %>
                <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            
        </li>
    <% end %>

</ul>