<div class="row">
  <div class="span12">
  <h1 class='page-title'>Listing events</h1>  
  </div>
</div>

<div class="row">
  <div class="span1"><h5>Group</h5></div>
  <div class="span2"><h5>Time</h5></div>
  <div class="span1"><h5>What is this</h5></div>
  <div class="span2"><h5>Organisation</h5></div>
  <div class="span2"><h5>Referral Process</h5></div>
  <div class="span1"><h5>Cost</h5></div>
  <div class="span2"><h5>Where</h5></div>
  <div class="span1"><h5>Who to Contact</h5></div>
</div>

</br>


<% @events.each do |event| %>
  <%= render :partial => 'single_event', :locals => {:event => event} %>
<% end %>
<br />

<% if admin %>
  <%= link_to 'New Event', new_event_path %>
<% end %>