<p>Message from: <%= @message.name %>.</p>

<p>Phone: <%= @message.phone %>.</p>
<p>Email: <%= @message.email %>.</p>

<p>%======================================================================================%</p>

<p><%= @message.content %></p>