/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 */

/*Colour palette: http://www.colourlovers.com/palette/2509985/belkina */

html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
  /*background-color: #700100;*/
  /*padding: 0px;*/
}

div.outer-container{
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

body h1, body h2{
  margin: 0px;
}

/*==========================
--------TOP SECTION
===========================*/

div.top-section{
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100px;
}

.top-bar{
  width:100%;
  height:100%;
  color: #7F6B6C;
  overflow: hidden;
  /*background-color: #700100;*/


}

.top-title{
  overflow: hidden;
  width: 960px;
  margin: auto;
}

.top-title h1{
  color: black;
  font-family: Verdana, Geneva, sans-serif;
  display: inline;

}

.top-title h2{
  background-color: #700100;
  display: inline;
  color: black;
  float: right;
  font-family: Verdana, Geneva, sans-serif;

}

.top-links{
  background-color: #700100;
  color: white;
  float:right;
  width: 100%;
  font-size:14pt;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  z-index:-10;
  height: 21px;
}

.links_container
{
  width: 960px;
  margin: auto;
}

.links_container a{
  float:right;
  padding-left:15px;
  padding-right:15px;
  font-family: Verdana, Geneva, sans-serif;
  color: white;
}

.links_container a:hover{
  color: white;
  background-color: #700100;
  text-decoration: underline;
  font-family: Verdana, Geneva, sans-serif;
}
.links_container a:visited{
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}



/*==========================
--------BOTTOM SECTION
===========================*/

div.bottom-section{
  position: fixed;
  top: 100px;
  left: 0px;
  width: 100%;
  height: 100%%;
  overflow: hidden;

}

.left-bar{
  background-color: #700100;
  float: left;
  position:fixed;
  height: 100%;
  width:100px;
  z-index:-30;
  border-right-style: solid;
  overflow: hidden;
  border-right-width: 2px;
  border-right-color: #333;
}

.left-links{

  margin-top:5px;
  padding-top: 10px;
  overflow: hidden;
}

div.left-links-link{
  background-color: #333;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #B90504;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #B90504;
}

.left-links a{
  margin-left: 2px;
  font-family: Verdana, Geneva, sans-serif;
  color: white;
}


.left-links a:hover{
  background-color: #333;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}.left-links a:visited{
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}

.search-filters select
{
  width: 185px;
}

.event-links{
  padding-top: 10px;
}

.content{
  width: 960px;
  height:90%;
  margin: auto;
  padding: 5px;
}

.scroll-container{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}


