// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table
{
  background-color: #990100;
  font-size: 10pt;
}

tr{

font-color: #333333
}