// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.target{
  
}

.target-left{
  float:left;
  
}

.target-right{
  float:right;
}
.tag{
  
}
.tag-left{
  float:left;
  
}

.tag-right{
  float:right;
}

div .event-entry{
  border-style: solid;
  border-width:2px;
  
}

a.event-link:hover{
  background-color: #5E1729;
  color: #7F6B6C;
  
}


a.event-edit a.event-delete {
  color:#FFFFFF;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

a.event-new
{
  margin-top: 10px;
  margin-left: 20px;
}

.event-entry{
  cursor:pointer;
  margin-bottom:5px;
  padding: 2px;
  width: 99%;
  float: right;
  border-radius: 5px;

}

.event-links{
  color: white;
  border: solid;
  width :15%;
  height: 84%;
  float: left;
  padding-left: 5px;
  border-radius: 10px;
  border-color: #990100;
  background-color: #333;
}

.event-list{
  width: 82%;
height: 72%;
float: right;
margin-right: 5px;
overflow-y: scroll;
padding: 5px;
  border-color: #333;
border-style: solid;
border-radius: 5px;
}

.event-links a{
  color: white;
  &:hover{
    color:white;
  }
  &:visited{
    color:white;
  }
}

/*===============================
-----EVENT SUMMARY
===============================*/

span.summary-datetime
{
  margin-right: 10px;
  display: inline-block;
  width: 130px;
}

span.summary-date
{
  font-weight: bold;

}

span.summary-time
{

}

span.summary-name
{
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  color: red;
}

span.summary-right
{
  float:right;
  margin-right:5px;
}

/*===============================
-----EVENT CREATION
===============================*/

#event_complex_date_attributes_fixed_date_1i
{
  width: 70px;
}

#event_complex_date_attributes_fixed_date_2i
{
  width: 150px;
}

#event_complex_date_attributes_fixed_date_3i,
#event_complex_date_attributes_time_4i,
#event_complex_date_attributes_time_5i
{
  width: 50px;
}

.tab-content
{
  overflow-x: hidden;

}


/*===============================
-----EVENT SEARCH
===============================*/

.event-links a.btn{
  color: #333;
}

.search-target{
  margin-bottom: 5px;
}

.search-target input{
  margin-right: 5px;
}

.search-datepicker
{
  width: 143px;
}