// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.target{
  
}

.target-left{
  float:left;
  
}

.target-right{
  float:right;
}
.tag{
  
}
.tag-left{
  float:left;
  
}

.tag-right{
  float:right;
}


