div.groups{
  height:100%;
  overflow-y: scroll;
  padding: 5px;
  border-radius: 5px;
  background-color: #FCFCFC;
}

h1.group-name{
  padding-top:5px;
  
}

h1.page-title{

  margin-bottom: 15px;
  
}

hr{
  border-color:#000000;
  margin:0px;
}

div.group-description{
  
  border:{
    style:solid;
    color:#000000;
    width:1px;
    radius:10px;
  }

  padding:5px;
  margin-right:2px;
}

#group_description
{
  width: 600px;
}

li.group-entry
{
  margin-bottom: 5px;
}

a.group-name{
  font-weight: bold;
  font-size: 15px;
}

input.create-group
{
  position: fixed;
  bottom: 25px;
  left:120px;
  width: 125px;
}

.back-group
{
  position: fixed;
  bottom: 25px;
  left:250px;
}

.tab-content input
{
  height: 30px;
  width: 600px;
}

.tab-content input.btn
{
  width: 115px;
}