div.groups{
  height:100%;
  overflow-y: scroll;
  padding: 5px;
  border-radius: 5px;
  background-color: #FCFCFC;
}

h1.group-name{
  padding-top:5px;
  float: right;
}
.group-time{
  float: left;
  clear: left;
  font-weight: bold;
}

.group-address{
  float: right;
  margin-bottom: 10px;
}

h1.page-title{

  margin-bottom: 15px;

}

hr{
  border-color:#000000;
  margin:0px;
}

a.group-button,
input.group-create,
a.group-back {
  color:whitesmoke;
  &:visited {
    color: whitesmoke;
  }
  &:hover {
    color: whitesmoke;
  }
}

div.group-description,
div.group-details,
{

/*  border:{
    style:solid;
    color:#000000;
    width:1px;
    radius:10px;
  }*/
  clear: both;
  padding:5px;
  margin-right:2px;
  margin-bottom:10px;

}

#group_description
{
  width: 600px;
}

li.group-entry
{
  margin-bottom: 10px;
}

ul a.group-name{
  font-weight: bold;
  font-size: 20px;
  color: #333;
  &:visited {
    color: 333;
  }
  &:hover {
    color: #333;
    background-color: #FCFCFC;
  }
}


.tab-content input
{
  height: 30px;
  width: 600px;
}

.tab-content input.btn
{
  width: 115px;
}

div.image-wrapper{
  max-width: 900px;
}

div.image-wrapper span{
  display: inline-block;
  border:2px solid #333;
  padding: 5px
}

div.image-wrapper img{
  max-width: 280px;
}